@model DocsManagement.Models.Agreement

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Agreement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDocument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateDocument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateDocument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeAgreement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeAgreement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeadlineAgreement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadlineAgreement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conractor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conractor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberSheets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberSheets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileContent)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
